.DS_Store

ALU/ALU_tests_summary.html
ALU/iseconfig/ALU_tests.xreport
ALU/isim*
*_beh*
*_isim*
*.log
*.xreport
*/isim/*
xilinxsim.ini
*/_xmsgs/*
*/xst/*
*.cmd_log
*.gise
*.ngc
*.ngr
*.syr
*.xrpt
*.ref
*.bin
