.DS_Store

*isim*
*_beh*
*_isim*
*.log
*.xreport
*/isim/*
xilinxsim.ini
*/_xmsgs/*
*/xst/*
*.cmd_log
*.ngc
*.ngr
*.syr
*.xrpt
*.ref
*.bin
*.lso
*.stx
*.prj
*.xst
*.gise
*.bit
*.drc
*.bgn
*.ucf
*_map*
*.ncd
*.xwbt
*.ut
*.xpi
*.unroutes
*.twx
*.twr
*.ptwx
*.pcf
*.par
*.pad
*.ngd
*.bld
*.bmm
*_ngo*
*webtalk*
*xdb*
*_pad*
*.wcfg
