.DS_Store

*/*isim*
*/*_beh*
*/*_isim*
*/*.log
*/*.xreport
*/isim/*
xilinxsim.ini
*/_xmsgs/*
*/xst/*
*/*.cmd_log
*/*.ngc
*/*.ngr
*/*.syr
*/*.xrpt
*/*.ref
*/*.bin
*/*.lso
*/*.stx
*/*.prj
*/*.xst
*/*.gise

